@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* HEADER MODULE */
/* ****************************************************************************************************************** */

.navbar {
  @apply flex justify-between items-center;
}

.buttonGroup {
  @apply flex gap-[14px];
}

.buttonGroup-firstItem {
  @apply text-customLime-700 border-2 border-customLime-700 rounded-[16px] font-medium p-[10px];
}

.buttonGroup-SecondItem {
  @apply bg-customLime-950 text-white rounded-[16px] font-medium p-[10px];
}

/* HERO MODULE */
/* ****************************************************************************************************************** */

.hero {
  @apply flex items-center;
}

.hero-banner {
  @apply flex flex-col w-1/2 gap-[20px];
}

.hero-bannerTexts {
  @apply flex flex-col gap-[5px];
}

.hero-title {
  @apply text-customGray-900 font-bold text-5xl;
}

.hero-buttonGroup {
  @apply flex gap-[20px];
}

.hero-getStartedButton {
  @apply bg-customLime-950 text-white rounded-[16px] font-medium px-[10px] py-[10px];
}

.hero-watchVideoButton {
  @apply border-2 border-customLime-950 rounded-[16px] font-medium px-[10px] py-[10px];
}

.hero-customers {
  @apply flex items-center gap-3;
}

.hero-customer {
  @apply rounded-full h-9 -mr-1;
}

.hero-customerDescription {
  @apply text-customLime-700 text-base font-bold;
}

.hero-images {
  @apply relative flex justify-center;
}

.hero-imagesCustomClass1 {
  @apply absolute right-60 bottom-10 z-20;
}

.hero-imagesCustomClass2 {
  @apply absolute left-[262px] bottom-[225px] z-10;
}

.hero-imagesCustomClass2 {
  @apply absolute left-72 bottom-4 z-20;
}

.hero-imageCustom {
  @apply z-10 w-full;
}

.hero-mealCard {
  @apply bg-white p-[10px] w-[300] h-[85] flex items-center gap-[10px] rounded-2xl;
}

.hero-mealCardItem {
  @apply flex flex-col gap-[5px];
}

.hero-mealCardMealName {
  @apply font-medium;
}

.hero-mealCardBox {
  @apply flex gap-[50px] items-center justify-center;
}

.hero-mealCardPrice {
  @apply font-medium;
}

.hero-mealCardUnderlined {
  @apply font-medium underline;
}

/* HOW-TO-WORK MODULE */
/* ****************************************************************************************************************** */

.howtowork {
  @apply mb-32;
}

.howtowork-item {
  @apply flex flex-col justify-between items-center gap-[16px] mb-5;
}

.howtowork-title {
  @apply font-medium text-4xl;
}

.howtowork-description {
  @apply text-lg text-customLime-900;
}

.howtowork-cards {
  @apply grid grid-cols-4 gap-4;
}

.howtowork-card {
  @apply bg-gradient-to-t from-customGreen-100 to-customLime-100 flex flex-col items-center p-[20px] rounded-2xl;
}

.howtowork-cardImageCustomClass {
  @apply text-customLime-900;
}

.howtowork-cardItem {
  @apply flex flex-col items-center;
}

.howtowork-cardTitle {
  @apply text-customLime-900 font-semibold text-xl mb-[16px];
}

.howtowork-cardDescription {
  @apply text-customLime-900 text-base;
}

/* LET'S-DO-IT-TOGETHER */
/* ****************************************************************************************************************** */

.letsdoittogether {
  @apply p-5;
}

.letsdoittogether-item {
  @apply flex flex-col items-center justify-center mb-6;
}

.letsdoittogether-title {
  @apply text-3xl text-customLime-900 font-medium;
}

.letsdoittogether-cards {
  @apply grid grid-cols-3 gap-3 place-items-center mb-10;
}

.letsdoittogether-card {
  @apply flex flex-col gap-5 w-52;
}

.letsdoittogether-cardItem {
  @apply flex flex-col gap-2;
}

.letsdoittogether-cardTitle {
  @apply text-customLime-900 font-bold text-xl;
}

.letsdoittogether-cardDescription {
  @apply text-customLime-900;
}
